body{
    margin: 0;
}

header {
    margin: 1px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title {
    background-image: url("img/nagasaki\ night\ view.jpg");
    background-position: center;
    margin: 0px;
    height: 300px;
    color: yellow;
}

nagasaki.section {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ2ipqrHCwnMsMQBYN5dKwSgEBTcqkym8qNL0Sr5SP5f4H3wW5yA")
}

h1 {
    font-size: 30px;
    text-align: center;
}
h3{background-color: rgb(176, 253, 247);
  padding-left: 20px;
}
li {
    list-style: none;
    display: flex;
    float: left;
    margin: 20px;
}
.header-logo{display: flex;
}
nav{display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}  
img{width: 600px;
    height: 400px;
}
article{background-color: rgb(247, 193, 230);
       width: 60%;}
.layout{display: flex;
        }
#side{width:30%}
